.nav-button {
  position: absolute;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.left-button {
  left: 20px;
}

.right-button {
  right: 20px;
}
.medication-form1 .medication-form2 .medication-form3{
  max-width: 900px;
  margin: auto;
  padding: 20px;
  position: relative;
   display: grid;
}

.medication-form{
    display: flex;
    gap: 20px;
}

.nav-arrow {
  position: absolute;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}


.medication-form input,
.medication-form textarea , select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.button-group {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-btn, .update-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
}